---
interface Props {
    href?:string;
}

const {href} = Astro.props
---


<li>
    <a
    class="flex gap-4 mb-2 p-2 text-zinc-400 hover:text-zinc-200 text-center transition duration-300"
    href={href}
    >
    <slot/>
    </a>
</li>